<html>
  <head>
    <title>Grocery Shop</title>
    <link rel="stylesheet" href="../style/homePage.css" />
  </head>
  <body>
    <header>
      <h1>Grocery Shop</h1>
      <div class="top_line">
        <p id="home" class="cart-logout">Back to home</p>
        <p id="logout" class="cart-logout">Logout</p>
      </div>
    </header>
    <div class="full">
      <div class="items" id="all-item">
        <div class="item" id="item">
          <p style="align-items: center" id="item-name">Tomato</p>
          <img src="../assets/tomato.jpg" class="item_image" id="item-image" />
          <p id="item-rate">Rs: 100/kg</p>
          <p>Count</p>
          <input
            type="number"
            onKeyDown="return false"
            max="10"
            min="0"
            style="width: 40px"
            id="count"
          />
          <button id="buy" onclick="buyItem(this.id)">Buy</button>
        </div>
      </div>
      <div id="buy-all-item">
        <button id="buy-all" onclick="buyAllItem()">Buy all</button>
      </div>
    </div>
    <div>
      <img id="cart-empty" />
    </div>
    <script src="../app/cartPageScript.js"></script>
  </body>
</html>
